@charset "utf-8";
header {
    background-color: #00CC99;
    margin-top: 0;
    color: white;
}

body{
    max-width: 100%;
	background-color: #99CCFF;
}
nav {
    background-color: #FF9999;
}

nav ol li {
    min-height: 2em;
    list-style-type: none;
    font-size: 25px;
    padding: 0 10%;
}

nav .row .col-md-4 a {
    color: white;
}
footer {
    text-align: center;
    background-color: #00CC99;
    margin-top: 15px;
    color: white;
    padding: 20px;
}

h1 {
    text-align: center;
}

.name {
    font-size: 35px;
}

img {
    max-width: 100%;
}

.review-content {
    background-color: #00CC99
}

.product {
    margin-bottom: 1rem;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
#for_pink, #for_complect {
    display: none;
}

.calc{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}
@media screen and (min-device-width: 960px) {
    .container {
        max-width: 960px;
    }

    img {
        width: inherit;
    }
}

